<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>service station</title>
    <meta name="description" content="Дипломний проект Охота В.В.">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/icon.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/icon.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/icon.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/icon.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/icon.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/accoutant-page.css">
    <link rel="stylesheet" href="/assets/css/Bootstrap-4-Calendar-No-Custom-Code.css">
    <link rel="stylesheet" href="/assets/css/Bootstrap-Calendar.css">
    <link rel="stylesheet" href="/assets/css/Brands.css">
    <link rel="stylesheet" href="/assets/css/dialog-page.css">
    <link rel="stylesheet" href="/assets/css/director-page.css">
    <link rel="stylesheet" href="/assets/css/Features-Blue.css">
    <link rel="stylesheet" href="/assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="/assets/css/Features-Clean.css">
    <link rel="stylesheet" href="/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="/assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="/assets/css/Highlight-Clean.css">
    <link rel="stylesheet" href="/assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/assets/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="/assets/css/Map-Clean.css">
    <link rel="stylesheet" href="/assets/css/Modern-Contact-Form.css">
    <link rel="stylesheet" href="/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/assets/css/Newsletter-Subscription-Form.css">
    <link rel="stylesheet" href="/assets/css/Projects-Clean.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/Team-Clean.css">
    <link rel="stylesheet" href="/assets/css/Team-Grid.css">
    <link rel="stylesheet" href="/assets/css/Testimonials.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg navigation-clean-button" style="background: rgb(238,244,247);">
    <div class="container"><a class="navbar-brand" href="/" style="color: #000000;"><i class="fas fa-car" style="font-size: 24px;color: rgb(255,204,30);"></i><span>СТО</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"></li>
                <li class="nav-item"><a class="nav-link" href="/order/create">Створити замовлення</a></li>
                <li class="nav-item dropdown" th:if="${TeamAccess == 'yes'}"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Функції працівника&nbsp;</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/order/management" th:if="${TeamAccessCRM == 'yes' || TeamAccessDirector == 'yes'}">CRM</a>
                        <a class="dropdown-item" href="/team/management" th:if="${TeamAccessTeam == 'yes' || TeamAccessDirector == 'yes'}">Відділ кадрів</a>
                        <a class="dropdown-item" href="/accountant" th:if="${TeamAccessAcc == 'yes' || TeamAccessDirector == 'yes'}">Бухгалтерська</a>
                        <a class="dropdown-item" href="/director" th:if="${TeamAccessDirector == 'yes'}">Кабінет директора</a></div>
                </li>
            </ul><span class="navbar-text actions" style="color: var(--bs-blue);"> <a id="navbar-register" class="login" href="/logout">Вихід</a><a class="btn btn-light action-button" role="button" id="navbar-spun-buton" href="/personal-page">Особистий кабінет</a></span>
        </div>
    </div>
</nav>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <section class="highlight-clean">
                        <div class="container">
                            <div class="intro">
                                <h2 class="text-center">Керування замовленнями</h2>
                                <p class="text-center"><span>Кількість усіх замовлень:&nbsp;</span><span th:text="${AllOrderListSize}"></span></p>
                            </div>
                            <div class="buttons"><a class="btn btn-primary director-page-navigations" type="button" th:href="@{/order/management/archive}">Перейти в архів</a></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <div class="accordion" role="tablist" id="accordion-8">
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-8 .item-1" aria-expanded="false" aria-controls="accordion-8 .item-1">Пошук</button></h2>
                            <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-8">
                                <div class="accordion-body">
                                    <form th:method="POST" th:action="@{/order/management/find}" th:object="${ordersDTO}">
                                        <p class="mb-0"><input class="form-control" type="number" value="0" placeholder="Номер замовлення" name="orderNumber"></p>
                                        <p class="mb-0" style="text-align: center;"><button class="btn btn-primary" type="submit" style="background: rgb(255,204,30);margin-top: 12px;margin-bottom: 17px;">Застосувати</button></p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h1 style="color: rgb(0,0,0);font-size: 20px;text-align: center;">Опрацювання<br></h1>
                    <p><span>Кількість замовлень:&nbsp;</span><span th:text="${NewOrdersSize}"></span></p>
                    <hr>
                    <div style="border-bottom-left-radius: 15px;">
                        <div class="col" style="background: rgb(255,255,255);border-top-left-radius: 15px;border-top-right-radius: 15px;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;border-style: outset;" th:each="elNewOrder : ${NewOrders}">
                            <p style="text-align: center;"><span>Замовлення №&nbsp;</span><span th:text="${elNewOrder.orderNumber}"></span></p>
                            <div class="accordion" role="tablist" th:id="${'accordion-' + elNewOrder.orderNumber + '0'}">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" th:data-bs-target="${'#accordion-' + elNewOrder.orderNumber + '0' + ' .item-1'}" aria-expanded="false" th:aria-controls="${'accordion-' + elNewOrder.orderNumber + '0' + ' .item-01'}">Інформація</button></h2>
                                    <div th:class="${'accordion-collapse collapse item-1'}" role="tabpanel"  th:data-bs-parent="${'#accordion-' + elNewOrder + '0'}">
                                        <div class="accordion-body">
                                            <p><span style="font-size: 16px;">Індифікатор клієнта:&nbsp;</span><span th:text="${elNewOrder.username}">&nbsp;</span></p>
                                            <p><span style="font-size: 16px;">Марка та модель авто:&nbsp;</span><span th:text="${elNewOrder.brandCar} + ' ' + ${elNewOrder.modelCar}">&nbsp;</span></p>
                                            <p><span style="font-size: 16px;">Тип роботи:&nbsp;&nbsp;</span><span th:text="${elNewOrder.service}">&nbsp;</span></p>
                                            <p><span style="font-size: 16px;">Дата створення заявки:&nbsp;</span><span th:text="${elNewOrder.dateCreateOrder}">&nbsp;</span></p>
                                            <p><span style="font-size: 16px;">Дата бажаного початку роботи:&nbsp;</span><span th:text="${elNewOrder.dateWork}">&nbsp;</span></p>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" th:data-bs-target="${'#accordion-' + elNewOrder.orderNumber + '0' + ' .item-2'}" aria-expanded="false" th:aria-controls="${'accordion-' + elNewOrder.orderNumber + '0' + ' .item-2'}">Керування інформацією</button></h2>
                                    <div th:class="${'accordion-collapse collapse item-2'}" role="tabpanel"  th:data-bs-parent="${'#accordion-' + elNewOrder + '0'}">
                                        <div class="accordion-body">
                                            <p><a th:href="${'/order/' + elNewOrder.orderNumber}">Детальніше</a></p>
                                            <p><a th:href="${'/order/' + elNewOrder.orderNumber + '/edit'}">Редагувати</a></p>
                                            <p><a th:href="${'/order/management/archive/add?numberOrder=' + elNewOrder.orderNumber}">Архівувати</a></p>
                                            <p><a th:href="${'/order/management/order/dell?numberOrder=' + elNewOrder.orderNumber}" style="color: var(--bs-red);">Видалити</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" th:data-bs-target="${'#accordion-' + elNewOrder.orderNumber + '0' + ' .item-3'}" aria-expanded="false" th:aria-controls="${'accordion-' + elNewOrder.orderNumber + '0' + ' .item-3'}" >Змінити статус</button></h2>
                                    <div class="accordion-collapse collapse item-3" role="tabpanel" th:data-bs-parent="${'#accordion-' + elNewOrder + '0'}">
                                        <div class="accordion-body">
                                            <p><a class="btn btn-primary director-page-navigations" role="button" th:href="${'/order/management/order/status/confirmed?numberOrder=' + elNewOrder.orderNumber }" style="background: rgb(51,164,213);width: 100%;">Підтверджено</a></p>
                                            <p><a class="btn btn-primary director-page-navigations" role="button" th:href="${'/order/management/order/status/work?numberOrder=' + elNewOrder.orderNumber }" style="background: rgb(51,164,213);width: 100%;">Виконується</a></p>
                                            <p><a class="btn btn-primary director-page-navigations" role="button" th:href="${'/order/management/order/status/complete?numberOrder=' + elNewOrder.orderNumber }" style="background: rgb(51,164,213);width: 100%;">Виконано</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h1 style="color: rgb(0,0,0);font-size: 20px;text-align: center;">Підтверджені</h1>
                    <p><span>Кількість замовлень:&nbsp;</span><span th:text="${ConfirmedOrdersSize}"></span></p>
                    <hr>
                    <div style="border-bottom-left-radius: 15px;">
                        <div class="col" style="background: rgb(255,255,255);border-top-left-radius: 15px;border-top-right-radius: 15px;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;border-style: outset;" th:each="elNewOrder : ${ConfirmedOrders}">
                            <p style="text-align: center;"><span>Замовлення №&nbsp;</span><span th:text="${elNewOrder.orderNumber}"></span></p>
                            <div class="accordion" role="tablist" th:id="${'accordion-' + elNewOrder.orderNumber + '0'}">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" th:data-bs-target="${'#accordion-' + elNewOrder.orderNumber + '0' + ' .item-1'}" aria-expanded="false" th:aria-controls="${'accordion-' + elNewOrder.orderNumber + '0' + ' .item-01'}">Інформація</button></h2>
                                    <div th:class="${'accordion-collapse collapse item-1'}" role="tabpanel"  th:data-bs-parent="${'#accordion-' + elNewOrder + '0'}">
                                        <div class="accordion-body">
                                            <p><span style="font-size: 16px;">Індифікатор клієнта:&nbsp;</span><span th:text="${elNewOrder.username}">&nbsp;</span></p>
                                            <p><span style="font-size: 16px;">Марка та модель авто:&nbsp;</span><span th:text="${elNewOrder.brandCar} + ' ' + ${elNewOrder.modelCar}">&nbsp;</span></p>
                                            <p><span style="font-size: 16px;">Тип роботи:&nbsp;&nbsp;</span><span th:text="${elNewOrder.service}">&nbsp;</span></p>
                                            <p><span style="font-size: 16px;">Дата створення заявки:&nbsp;</span><span th:text="${elNewOrder.dateCreateOrder}">&nbsp;</span></p>
                                            <p><span style="font-size: 16px;">Дата початку роботи:&nbsp;</span><span th:text="${elNewOrder.dateWork}">&nbsp;</span></p>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" th:data-bs-target="${'#accordion-' + elNewOrder.orderNumber + '0' + ' .item-2'}" aria-expanded="false" th:aria-controls="${'accordion-' + elNewOrder.orderNumber + '0' + ' .item-2'}">Керування інформацією</button></h2>
                                    <div th:class="${'accordion-collapse collapse item-2'}" role="tabpanel"  th:data-bs-parent="${'#accordion-' + elNewOrder + '0'}">
                                        <div class="accordion-body">
                                            <p><a th:href="${'/order/' + elNewOrder.orderNumber}">Детальніше</a></p>
                                            <p><a th:href="${'/order/' + elNewOrder.orderNumber + '/edit'}">Редагувати</a></p>
                                            <p><a th:href="${'/order/management/archive/add?numberOrder=' + elNewOrder.orderNumber}">Архівувати</a></p>
                                            <p><a th:href="${'/order/management/order/dell?numberOrder=' + elNewOrder.orderNumber}" style="color: var(--bs-red);">Видалити</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" th:data-bs-target="${'#accordion-' + elNewOrder.orderNumber + '0' + ' .item-3'}" aria-expanded="false" th:aria-controls="${'accordion-' + elNewOrder.orderNumber + '0' + ' .item-3'}" >Змінити статус</button></h2>
                                    <div class="accordion-collapse collapse item-3" role="tabpanel" th:data-bs-parent="${'#accordion-' + elNewOrder + '0'}">
                                        <div class="accordion-body">
                                            <p><a class="btn btn-primary director-page-navigations" role="button" th:href="${'/order/management/order/status/new?numberOrder=' + elNewOrder.orderNumber }" style="background: rgb(51,164,213);width: 100%;">Опрацювання</a></p>
                                            <p><a class="btn btn-primary director-page-navigations" role="button" th:href="${'/order/management/order/status/work?numberOrder=' + elNewOrder.orderNumber }" style="background: rgb(51,164,213);width: 100%;">Виконується</a></p>
                                            <p><a class="btn btn-primary director-page-navigations" role="button" th:href="${'/order/management/order/status/complete?numberOrder=' + elNewOrder.orderNumber }" style="background: rgb(51,164,213);width: 100%;">Виконано</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h1 style="color: rgb(0,0,0);font-size: 20px;text-align: center;">Виконання</h1>
                    <p><span>Кількість замовлень:&nbsp;</span><span th:text="${WorkOrdersSize}">&nbsp;</span></p>
                    <hr>
                    <div style="border-bottom-left-radius: 15px;">
                        <div class="col" style="background: rgb(255,255,255);border-top-left-radius: 15px;border-top-right-radius: 15px;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;border-style: outset;" th:each="elNewOrder : ${WorkOrders}">
                            <p style="text-align: center;"><span>Замовлення №&nbsp;</span><span th:text="${elNewOrder.orderNumber}"></span></p>
                            <div class="accordion" role="tablist" th:id="${'accordion-' + elNewOrder.orderNumber + '0'}">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" th:data-bs-target="${'#accordion-' + elNewOrder.orderNumber + '0' + ' .item-1'}" aria-expanded="false" th:aria-controls="${'accordion-' + elNewOrder.orderNumber + '0' + ' .item-01'}">Інформація</button></h2>
                                    <div th:class="${'accordion-collapse collapse item-1'}" role="tabpanel"  th:data-bs-parent="${'#accordion-' + elNewOrder + '0'}">
                                        <div class="accordion-body">
                                            <p><span style="font-size: 16px;">Індифікатор клієнта:&nbsp;</span><span th:text="${elNewOrder.username}">&nbsp;</span></p>
                                            <p><span style="font-size: 16px;">Марка та модель авто:&nbsp;</span><span th:text="${elNewOrder.brandCar} + ' ' + ${elNewOrder.modelCar}">&nbsp;</span></p>
                                            <p><span style="font-size: 16px;">Тип роботи:&nbsp;&nbsp;</span><span th:text="${elNewOrder.service}">&nbsp;</span></p>
                                            <p><span style="font-size: 16px;">Дата створення заявки:&nbsp;</span><span th:text="${elNewOrder.dateCreateOrder}">&nbsp;</span></p>
                                            <p><span style="font-size: 16px;">Дата виконання роботи:&nbsp;</span><span th:text="${elNewOrder.dateWork}">&nbsp;</span></p>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" th:data-bs-target="${'#accordion-' + elNewOrder.orderNumber + '0' + ' .item-2'}" aria-expanded="false" th:aria-controls="${'accordion-' + elNewOrder.orderNumber + '0' + ' .item-2'}">Керування інформацією</button></h2>
                                    <div th:class="${'accordion-collapse collapse item-2'}" role="tabpanel"  th:data-bs-parent="${'#accordion-' + elNewOrder + '0'}">
                                        <div class="accordion-body">
                                            <p><a th:href="${'/order/' + elNewOrder.orderNumber}">Детальніше</a></p>
                                            <p><a th:href="${'/order/' + elNewOrder.orderNumber + '/edit'}">Редагувати</a></p>
                                            <p><a th:href="${'/order/management/archive/add?numberOrder=' + elNewOrder.orderNumber}">Архівувати</a></p>
                                            <p><a th:href="${'/order/management/order/dell?numberOrder=' + elNewOrder.orderNumber}" style="color: var(--bs-red);">Видалити</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" th:data-bs-target="${'#accordion-' + elNewOrder.orderNumber + '0' + ' .item-3'}" aria-expanded="false" th:aria-controls="${'accordion-' + elNewOrder.orderNumber + '0' + ' .item-3'}" >Змінити статус</button></h2>
                                    <div class="accordion-collapse collapse item-3" role="tabpanel" th:data-bs-parent="${'#accordion-' + elNewOrder + '0'}">
                                        <div class="accordion-body">
                                            <p><a class="btn btn-primary director-page-navigations" role="button" th:href="${'/order/management/order/status/new?numberOrder=' + elNewOrder.orderNumber }" style="background: rgb(51,164,213);width: 100%;">Опрацювання</a></p>
                                            <p><a class="btn btn-primary director-page-navigations" role="button" th:href="${'/order/management/order/status/confirmed?numberOrder=' + elNewOrder.orderNumber }" style="background: rgb(51,164,213);width: 100%;">Підтверджено</a></p>
                                            <p><a class="btn btn-primary director-page-navigations" role="button" th:href="${'/order/management/order/status/complete?numberOrder=' + elNewOrder.orderNumber }" style="background: rgb(51,164,213);width: 100%;">Виконано</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h1 style="color: rgb(0,0,0);font-size: 20px;text-align: center;">Виконано</h1>
                    <p><span>Кількість замовлень:&nbsp;</span><span th:text="${CompleteOrdersSize}"></span></p>
                    <hr>
                    <div style="border-bottom-left-radius: 15px;">
                        <div class="col" style="background: rgb(255,255,255);border-top-left-radius: 15px;border-top-right-radius: 15px;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;border-style: outset;" th:each="elNewOrder : ${CompleteOrders}">
                            <p style="text-align: center;"><span>Замовлення №&nbsp;</span><span th:text="${elNewOrder.orderNumber}"></span><br><span>Чистий дохід: </span><span th:text="${elNewOrder.netProfit}"></span></p>
                            <div class="accordion" role="tablist" th:id="${'accordion-' + elNewOrder.orderNumber + '0'}">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" th:data-bs-target="${'#accordion-' + elNewOrder.orderNumber + '0' + ' .item-1'}" aria-expanded="false" th:aria-controls="${'accordion-' + elNewOrder.orderNumber + '0' + ' .item-01'}">Інформація</button></h2>
                                    <div th:class="${'accordion-collapse collapse item-1'}" role="tabpanel"  th:data-bs-parent="${'#accordion-' + elNewOrder + '0'}">
                                        <div class="accordion-body">
                                            <p><span style="font-size: 16px;">Індифікатор клієнта:&nbsp;</span><span th:text="${elNewOrder.username}">&nbsp;</span></p>
                                            <p><span style="font-size: 16px;">Марка та модель авто:&nbsp;</span><span th:text="${elNewOrder.brandCar} + ' ' + ${elNewOrder.modelCar}">&nbsp;</span></p>
                                            <p><span style="font-size: 16px;">Тип роботи:&nbsp;&nbsp;</span><span th:text="${elNewOrder.service}">&nbsp;</span></p>
                                            <p><span style="font-size: 16px;">Дата створення заявки:&nbsp;</span><span th:text="${elNewOrder.dateCreateOrder}">&nbsp;</span></p>
                                            <p><span style="font-size: 16px;">Дата завершення роботи:&nbsp;</span><span th:text="${elNewOrder.dateWork}">&nbsp;</span></p>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" th:data-bs-target="${'#accordion-' + elNewOrder.orderNumber + '0' + ' .item-2'}" aria-expanded="false" th:aria-controls="${'accordion-' + elNewOrder.orderNumber + '0' + ' .item-2'}">Керування інформацією</button></h2>
                                    <div th:class="${'accordion-collapse collapse item-2'}" role="tabpanel"  th:data-bs-parent="${'#accordion-' + elNewOrder + '0'}">
                                        <div class="accordion-body">
                                            <p><a th:href="${'/order/' + elNewOrder.orderNumber}">Детальніше</a></p>
                                            <p><a th:href="${'/order/' + elNewOrder.orderNumber + '/edit'}">Редагувати</a></p>
                                            <p><a th:href="${'/order/management/archive/add?numberOrder=' + elNewOrder.orderNumber}">Архівувати</a></p>
                                            <p><a th:href="${'/order/management/order/dell?numberOrder=' + elNewOrder.orderNumber}" style="color: var(--bs-red);">Видалити</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" th:data-bs-target="${'#accordion-' + elNewOrder.orderNumber + '0' + ' .item-3'}" aria-expanded="false" th:aria-controls="${'accordion-' + elNewOrder.orderNumber + '0' + ' .item-3'}" >Змінити статус</button></h2>
                                    <div class="accordion-collapse collapse item-3" role="tabpanel" th:data-bs-parent="${'#accordion-' + elNewOrder + '0'}">
                                        <div class="accordion-body">
                                            <p><a class="btn btn-primary director-page-navigations" role="button" th:href="${'/order/management/order/status/new?numberOrder=' + elNewOrder.orderNumber }" style="background: rgb(51,164,213);width: 100%;">Опрацювання</a></p>
                                            <p><a class="btn btn-primary director-page-navigations" role="button" th:href="${'/order/management/order/status/confirmed?numberOrder=' + elNewOrder.orderNumber }" style="background: rgb(51,164,213);width: 100%;">Підтверджено</a></p>
                                            <p><a class="btn btn-primary director-page-navigations" role="button" th:href="${'/order/management/order/status/work?numberOrder=' + elNewOrder.orderNumber }" style="background: rgb(51,164,213);width: 100%;">Виконується</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </section>
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Навігація</h3>
                    <ul>
                        <li><a href="/#Info-section">Переваги</a></li>
                        <li><a href="/#Service-section">Послуги</a></li>
                        <li><a href="/#Contacts-section">Контакти</a></li>
                        <li><a href="/#Team-section">Керівники</a></li>
                        <li><a href="/#Partners-section">Партнери</a></li>
                        <li><a href="/#Reviews-section">Відгуки</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>СТО</h3>
                    <p th:utext="${'Такі машини, як ця, можуть бігати вічно. <br>При належному догляді вони безсмертні. <br> — Домінік Торетто'}"></p>
                </div>
                <div class="col item social"><a href="https://www.facebook.com/vadim.ochota" style="color: rgb(255,204,30);"><i class="icon ion-social-facebook" style="color: rgb(255,204,30);"></i></a><a href="https://www.instagram.com/_okhotnik_/" style="color: rgb(255,204,30);"><i class="icon ion-social-instagram" style="color: rgb(255,204,30);"></i></a></div>
            </div>
            <p class="copyright">СТО © 2022</p>
        </div>
    </footer>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/assets/js/Lightbox-Gallery.js"></script>
</body>

</html>