@media (min-width: 768px) {
  #input-file-dialog {
    width: 400px;
  }
}

@media (min-width: 768px) {
  #input-file-dialog {
    width: 400px;
  }
}

@media (min-width: 992px) {
  .dialog-card {
    width: 50%;
  }
}

@media (min-width: 992px) {
  #dialog-card-my {
    margin-left: 50%;
  }
}

@media (min-width: 300px) {
  #dialog-div {
    height: 300px;
  }
}

@media (min-width: 576px) {
  #dialog-div {
    height: 300px;
  }
}

@media (min-width: 768px) {
  #dialog-div {
    height: 250px;
  }
}

@media (min-width: 992px) {
  #dialog-div {
    height: 300px;
  }
}

@media (min-width: 1200px) {
  #dialog-div {
    height: 400px;
  }
}

@media (min-width: 1400px) {
  #dialog-div {
    height: 550px;
  }
}

