@media (min-width: 100px) {
  #accountant-page-table {
    height: 300px;
  }
}

@media (min-width: 576px) {
  #accountant-page-table {
    height: 241px;
  }
}

@media (min-width: 768px) {
  #accountant-page-table {
    height: 151px;
  }
}

@media (min-width: 992px) {
  #accountant-page-table {
    height: 211px;
  }
}

@media (min-width: 1200px) {
  #accountant-page-table {
    height: 256px;
  }
}

@media (min-width: 1400px) {
  #accountant-page-table {
    height: 301px;
  }
}

#name-dialog-table-cell {
  font-size: px;
}

@media (min-width: 400px) {
  #name-dialog-table-cell {
    width: 16%;
  }
}

@media (min-width: 200px) {
  #name-dialog-table-cell {
    width: 18%;
  }
}

@media (min-width: 200px) {
  #dialog-image-table-cell {
  }
}

@media (min-width: 200px) {
  #personal-page-dialog-table {
    height: 400px;
  }
}

@media (min-width: 768px) {
  #personal-page-dialog-table {
    height: 379px;
  }
}

@media (min-width: 992px) {
  #personal-page-dialog-table {
    height: 475px;
  }
}

@media (min-width: 1200px) {
  #personal-page-dialog-table {
    height: 565px;
  }
}

@media (min-width: 1400px) {
  #personal-page-dialog-table {
    height: 655px;
  }
}

.personal-page-table {
  height: 400px;
}

@media (min-width: 992px) {
  #conteiner-order-archive {
    min-height: 300px;
  }
}

